<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Posts Recientes</h1>
    <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to post.title, post %></h3><%= post.created_at.strftime("Creado el %d de %B de %Y") %> Por: <%= post.user.email%>
        </div>
        <div class="panel-body">
          <%= markdown(post.body.first(250)) %>
          <% if current_user == post.user %>
            <%= link_to 'Editar Post', edit_post_path(post), class: 'btn btn-default' %>
            <%= link_to 'Eliminar Post', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
