<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Por: <%= @post.user.email%> </strong>
</p>

<p>
  <strong><%= @post.user.created_at.strftime("Creado el %d de %B de %Y")%> </strong>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@post.body) %>
</p>
<% if  current_user == @post.user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>
<%= link_to 'Back', posts_path %>

<h2>Comentar</h2>
<%if (user_signed_in?)%>
  <%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.hidden_field :post_id, :value => @post.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<%end%>

 <% if comments = @post.comments %>
    <%comments.each do |comm| %>
      <p>
        <%=  comm.user.email%>
      </p>
      <p>
        <%=comm.created_at%>
      </p>
      <p>
        <%= markdown(comm.body)%>
      </p>
    <%end%>
 <%end%>
